!!! 5
html
	head
		title jade template
		script(type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.min.js")
		//script(type="text/javascript" src="../frontend.js")
	body
		h1 Automatic conversion
		p to html5
		ul#log
		input#entry(type="text")