!!! 5
html
	head
		title privatechat
		script(src="http://code.jquery.com/jquery-1.7.2.min.js")
		script(src="/socket.io/socket.io.js")
		script(src="../frontend.js")
		link(rel='stylesheet', href='../style.css')
	body
		h1 A private chatroom
		ul#log
			li welcome
		input#entry(type="text")
